.boxy-size{
    width: 400px;
    height: 420px;
    padding: 0px;
}

.welcome-slide-border{
    border-style: solid;
    border-color: rgb(223, 179, 57);
    border-radius: 20px;
    border-width: 8px;
    background-color: white;
    margin: 5px 20px; 
    padding: 20px 50px;
}

#welcome-grid-container {
    display: grid;
    /* grid-template-columns: 70% 30%; */
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-rows: 2fr 2fr 4fr 8fr; */
    grid-template-rows: 20% 20% 60% ;
  }
  
#welcome-text-grid{
    grid-column-start:1;
    grid-column-end: span 6;
    grid-row-start: 1;
    grid-row-end: span 1;
    /* grid-column-start: 1; */
    /* grid-column-end: span col2-start; */
    /* grid-row-start: 1; */
    /* grid-row-end: span 1; */
  }

#welcome-boxy-grid{
    grid-column-start: 8;
    /* grid-column-end: 1; */
    grid-row-start: 1;
    grid-row-end: span 3;
    /* grid-column-start: 1; */
    /* grid-column-end: span col2-start; */
    /* grid-row-start: 1; */
    /* grid-row-end: span 1; */
    /* width: 370px;
    height: 350px;
    padding: 0px; */
  }

#form-grid{
  grid-column-start:2;
  grid-column-end: span 4;
  grid-row-start: 3;
  grid-row-end: span 1;
  /* grid-row-end: 2;
  grid-column-start: 1; */
  /* grid-column-end: span col2-start; */
  /* grid-row-start: 1; */
  /* grid-row-end: span 1; */
}

#select-text-grid{
  grid-column-start:1;
  grid-column-end: span 7;
  grid-row-start: 3;
  grid-row-end: span 1;
  font-size: 40px;
  font-weight: 900;
  color: rgb(99, 174, 218);
  /* grid-row-end: 2;
  grid-column-start: 1; */
  /* grid-column-end: span col2-start; */
  /* grid-row-start: 1; */
  /* grid-row-end: span 1; */
}



/* Positioning and appearance of fields and inputs within name/age form */

#form-content-grid {
  display: grid;
  /* divide that grid using... */
  grid-template-columns: 0.9fr 0.3fr;
  /* the first column will have a fixed width of 200px 
  whilst the second will take 0.3fr (“0.3 of a fraction”) 
  of the remaining available space. */
  grid-gap: 16px;
}

    /* now need to define the placement for our labels and inputs. 
    To do that, we will use grid-column with specific values for 
    the grid lines: */
    
label {
  grid-column: 1 / 2;
  text-align:right;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 800;
  }
  
input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  padding: 10px 30px;
  }
  
.form-submit-button{
    grid-column: 2 / 3;
    border: none;
    font-size: 30px;
    font-weight: 900;
    color: rgb(99, 174, 218);
    background-color: white;
    cursor: pointer;
    margin: 10px 10px;
    padding: 10px;
  }


  .grow {
    animation: grow 1s 1;

  }
  
  @keyframes grow {
    0% {
      font-size: 37px;
    }
    100% {
      font-size: 40px;
    }
  } 
